<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Eleventy Blog</title>

  <link rel="stylesheet" href="{{ '/css/site.css' | url }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto&display=fallback" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet"> 
</head>
<body>
<header>
<div class="logo">JMH</div>
  <a href="{{ '/' | url }}" class="home" >Blog</a>
  <a href="{{ '/About' | url }}" class="link--about">About</a>
   <a href="{{ '/About' | url }}" class="link--about">Contact</a>
</header>
<main>
  {{ content | safe }}
</main>
<footer>&copy; My Blog</footer>
</body>
</html>